#abanchor{
    position: relative;
    top:-80px;
}
.articleabout{
    min-height: calc(100vh - 80px);
    background-image: url("../image/aboutbg.png");
    background-size: 700px;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}
.containerabout{
    min-height: 60vh;
}

.pinksq1{
    background-color: #F20DF0;
    border-top-left-radius: 50px;
    max-width: 600px;
    height: 300px;
    padding-top: 30px;
    padding-left: 30px;
    font-weight: bolder;
    font-size: x-large;
    margin-left: 150px;
    
    -webkit-box-shadow: 32px 32px 0px -15px rgba(127, 1, 254, 1);
    -moz-box-shadow: 32px 32px 0px -15px rgba(127, 1, 254, 1);
    box-shadow: 32px 32px 0px -15px rgba(127, 1, 254, 1);
}
.pinksq1 > p{
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
    margin-right: 20px;
}


.violsq1{
    
    margin:0 auto;
    margin-right: 150px;
    background-color: rgba(127, 1, 254, 1);
    border-top-left-radius: 50px;
    max-width: 600px;
    height: 300px;
    margin-top: 40px;
    padding-top: 30px;
    padding-left: 30px;
    font-weight: bolder;
    font-size: x-large;
    
    -webkit-box-shadow: 32px 32px 0px -15px #F20DF0;
    -moz-box-shadow: 32px 32px 0px -15px #F20DF0;
    box-shadow: 32px 32px 0px -15px #F20DF0;
}

.violsq1 > p{
    margin-top: 20px;
    font-weight: bold;
    font-size: large;
    margin-right: 20px;
}

@media (max-width: 700px) {
    .pinksq1{
        max-width: 1000px;
        height: auto;
        min-height: 300px;
        padding-top: 30px;
        padding-left: 30px;
        font-weight: bolder;
        font-size: x-large;
        margin-left: 0px;
    }

    .violsq1{

        margin-right: 0px;
        border-top-left-radius: 50px;
        max-width: 600px;
        height: auto;
        min-height: 300px;

    }
  }