.articlecontact{
    min-height: calc(60vh - 80px);
    background: rgb(37,1,36);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(34,4,31,1) 51%, rgba(37,1,36,1) 100%);
}
.topsection{
    padding-top: 20px;
    font-size: 55px;
    text-align: center;
    margin-bottom: 40px;
}

.contacts img{
    float: left;
}

.contacts{
    margin-bottom: 5vh;
}


.contacts a:hover{
    cursor: pointer;
    float: left;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.linktext{
    float: left;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

#pranchor{
    position: relative;
    top:-80px;
}