.articlecontact{
    min-height: calc(60vh - 80px);
    background: rgb(37,1,36);
    background: linear-gradient(180deg, rgba(28,28,28,1) 0%, rgba(34,4,31,1) 51%, rgba(37,1,36,1) 100%);
}
.topsection{
    padding-top: 20px;
    font-size: 55px;
    text-align: center;
    margin-bottom: 40px;
}

.contacts img{
    float: left;
}

.contacts{
    margin-bottom: 5vh;
}


.contacts a:hover{
    cursor: pointer;
    float: left;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.linktext{
    float: left;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.Contactlogo
{
    margin-left: 5vw;
    height: 300px;
    display: block;
    float: left;
}

.contactscontainer
{
    margin-left: 20vw;
    width: 30vw;
    float: left;
}

#pranchor{
    position: relative;
    top:-80px;
}
@media (max-width: 1200px) {
    .Contactlogo
    {
        height: 200px;
    }
    
    .contactscontainer
    {
        margin-left: 10vw;
        width: 40vw;
    }

  }

  @media (max-width: 820px) {
    .Contactlogo
    {
        width: 50vw;
        height: unset;
        margin-left: 25vw;
        float:unset;
    }
    
    .contactscontainer
    {
        margin-left: 20vw;
        width: 80vw;
        float:unset;
    }

    .articlecontact
    {
        text-align: center;

    }

  }